In [1]:
# Creamos una variable del tipo int
variable_integer = 15

In [2]:
#Podemos usar la funcion print() para ver que ontiene nuestra variable_integer
print(variable_integer)

15

In [3]:
#O directamente escribir el nombre de la variable y imprimira automaticamente
variable_integer

15

In [4]:
#Variable flotante mediante la notacion de camelcase
variableDecimal = 2.65

In [5]:
#Imprimimos direcatmente con el nombre de la variable
variableDecimal

2.65

In [6]:
# Creamos una variable Float y la mostramos en un mismo paso
VariableTexto = "soy un string"
VariableTexto

'soy un string'

In [7]:
#Con print() ademas de mostrar variables (que normalmente lo vamos a hacer poniendo el nombre directamente) 
#podemos mostrar mensajes sin estar adentro de variables
print("hola clase")

hola clase

In [8]:
#Otra forma es creando varias variables de una sola vez
variable_a, variable_b, variable_c = "variable_A", 50, 60.32
print(variable_a , variable_b, variable_c)

variable_A 50 60.32

In [9]:
#O aplicando el feature de los notebook
variable_a, variable_b, variable_c

('variable_A', 50, 60.32)

In [10]:
#Defino una variable boolena True y una False

esto_es_python = True
esto_es_excel = False

In [11]:
#Podemos imprimirlas para ver como se ven, ademas podemos agregarle un mensaje a nuestro print
print("¿Esto es Python?:", esto_es_python)
print("¿Esto es Excel?:", esto_es_excel)

¿Esto es Python?: True
¿Esto es Excel?: False

In [12]:
#Tipos de datos
#Vimos que habia diferentes tipos de datos y trabajamos con los 3 mas comunes y básicos. Usando type()
#podemos ver que tipo de dato tiene asignado una variable.
type(variable_integer)

int

In [13]:
type(variableDecimal)

float

In [14]:
type(VariableTexto)

str

In [15]:
type(esto_es_python)

bool

In [16]:
#CAST
#Una forma muy sencilla de especificar o transformar (siempre que sea posible) una variable de un tipo a otro es usando cast. Veamos ejemplos
numero_uno_entero = int(1)   # Especifico que mi variable va a ser del tipo integer
numero_uno_entero, type(numero_uno_entero) #Veo el dato y el típo de dato

(1, int)

In [23]:
cast_variableDecimal = int(variableDecimal)#Voy a transformar y por lo tanto eliminar los decimales de mi variableDecimal
variableDecimal, cast_variableDecimal, type(cast_variableDecimal)#Veo el dato original, mi variable despues de cast

(2.65, 2, int)

In [22]:
numero_string = "10" #Creamos una variable String a para el valor "10"
cast_numero_string = int (numero_string)
# Veo el dato original, su tipo de dato, mi variable despues de cast y el típo de dato final
numero_string, type(numero_string), cast_numero_string, type(cast_numero_string)

('10', str, 10, int)

In [19]:
numero_uno_decimal = float(1)# Especifico que mi variable va a ser del tipo decimal
numero_uno_decimal, type(numero_uno_decimal)#Veo el dato y el típo de dato

(1.0, float)

In [21]:
numero_pi_string = "3.14"#Creamos una variable String a para el valor "3.14"
cast_numero_pi_string = float(numero_pi_string) # Voy a transformar mi numero_pi_string
# Veo el dato original, su tipo de dato, mi variable despues de cast y el típo de dato final
numero_pi_string, type(numero_pi_string), cast_numero_pi_string, type(cast_numero_pi_string)

('3.14', str, 3.14, float)

In [25]:
bool_curso_data_analitics = True
cast_bool_curso_data_analitics = str(bool_curso_data_analitics)#Puedo transforma un booleano a String
# Veo el dato original, su tipo de dato, mi variable despues de cast y el típo de dato final
bool_curso_data_analitics, type(bool_curso_data_analitics), cast_bool_curso_data_analitics , type(cast_bool_curso_data_analitics )

(True, bool, 'True', str)

In [27]:
#Siendo mis variables A y B del tipo entero voy a utilizar los siguientes operadores aritmeticos
#Aritméticos: Suma +, Resta -, Multiplicación *, División /, Exponente **, Módulo % División entera //
A = 5
B = 3
#Suma +
A + B

8

In [28]:
# Resta -
A - B

2

In [29]:
# Multiplicación *
A * B

15

In [30]:
#División /
A / B

1.6666666666666667

In [31]:
#Exponente **
A ** B

125

In [33]:
#Módulo % Ó Resto
A % B

2

In [34]:
#División entera //
A // B

1

In [37]:
# Tambien tenemos multiplicaciones
radio = 14 
numero_pi = 3.14
area = numero_pi * radio**2

area

615.44

In [38]:
#perimetro
2*numero_pi*radio

87.92

In [39]:
#Con comparciones puedo ver relaciones entre términos

variable_pais_minuscula = "argentina"
variable_pais_mayuscula = "ARGENTINA"

variable_pais_mayuscula == variable_pais_minuscula

False

In [40]:
#Pueden ser entre numeros
ventas_totales = 243090
ventas_esperadas = 243080

ventas_totales >= ventas_esperadas

True

In [41]:
# Ademas puedo incrementar valores o dismuirlos con cada ejecución
valor_creciente, valor_decreciente = 0, 0 #Defino mis puntos de inicio

In [43]:
#incremento con cada ejecución

valor_creciente += 1 
valor_decreciente -= 1

valor_creciente, valor_decreciente

(2, -2)

In [45]:
#Eje#Podemos incrementar 2 a dos en 2 tambien
numeros_pares, cantidad_ejecuciones = 0, 0 #Defino mis puntos de inicio

In [48]:
#Ejecuto

numeros_pares +=2
cantidad_ejecuciones += 1

print("numero:",numeros_pares)
print("veces ejecutado:",cantidad_ejecuciones)

numero: 6
veces ejecutado: 3